* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*
img[title^="product-"] {
  border-color: lightblue;
}

a[href$=".html"] {
  text-decoration: none;
}
img[src*="preview"] {
  width:100%;
}
*/

body {
/*    line-height: 1.7em;*/
    color: #7f8c8d;
    font-size: 13px;
}

h1, h2, h3,
h4, h5, h6,
label {
    color: #34495e;
}

a:link {
            color: #6FBEF3;
        }
a:hover,
a:focus,
a:visited
        {
            background: none;
            border: none;
            color: #AECFE5;
        }

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}



/* LAYOUT STYLES --
*/



.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;

}

.is-center {
    text-align: center;
}

.is-left {
  text-align: left;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.grid-container {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
}


img {
	width: 100%;
}


/* PURE FORM STYLES -- 
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/* BUTTON STYLES 
*/

button {
    background-color: #ededed;
    padding: .4em 1.5em;
    border-radius: 6px;
    
    border: 2px solid rgba(127, 127, 127, 0.75);
    -webkit-box-shadow: 0px 3px 0px rgba(127, 127, 127, 0.75);
    -moz-box-shadow:    0px 3px 0px rgba(127, 127, 127, 0.75);
    box-shadow:         0px 3px 0px rgba(127, 127, 127, 0.75);

    color: #8f8f8f;
    cursor: pointer;
    outline: none;
}

button:hover {
    
    color: #1f8dd6;
    background-color: #fff;
}

button:active {
    margin-top: 1px;
    border: 2px solid rgba(127, 127, 127, 0.75);
    -webkit-box-shadow: 0px 1px 0px rgba(127, 127, 127, 0.75);
    -moz-box-shadow:    0px 1px 0px rgba(127, 127, 127, 0.75);
    box-shadow:         0px 1px 0px rgba(127, 127, 127, 0.75);
    margin-bottom: -1px;
}


/* MENU STYLES
*/

        .home-menu {
          background: #232124;  
          padding: 0.5em;
            text-align: center;
            box-shadow: 0 1px 1px rgba(0,0,0, 0.30);
        }
        
        .pure-menu.pure-menu-fixed {
            /* Fixed menus normally have a border at the bottom. */
            border-bottom: none;
            /* I need a higher z-index here because of the scroll-over effect. */
            z-index: 4;
        }

        .home-menu .pure-menu-heading {
            color: white;
            font-weight: 400;
            font-size: 120%;

        }

        .pure-menu-heading {
          width: 15%; 
          display: inline-block;
        }

        .home-menu .pure-menu-selected a {
            color: white;
        }

        .home-menu a:link {
            color: #6FBEF3;
        }
        .home-menu li a:hover,
        .home-menu li a:focus,
        .home-menu li a:visited
        {
            background: none;
            border: none;
            color: #AECFE5;
        }

        .menu-active {
            color: #fff !important;
            text-decoration: none;
        }



                    .custom-menu-wrapper {
                        background-color: #232124;
                        margin-bottom: 2.5em;
                        white-space: nowrap;
                        position: relative;
                      z-index: 4;
                    }

                    .custom-menu {
                        display: inline-block;
                        width: auto;
                        vertical-align: middle;
                        -webkit-font-smoothing: antialiased;
                    }

                    .custom-menu .pure-menu-link,
                    .custom-menu .pure-menu-heading {
                        color: white;
                    }

                    .custom-menu .pure-menu-link:hover,
                    .custom-menu .pure-menu-heading:hover {
                        background-color: transparent;
                    }

                    .custom-menu-top {
                        position: relative;
                        padding-top: .5em;
                        padding-bottom: .5em;
                    }

                    .custom-menu-brand {
                        display: block;
                        text-align: center;
                        position: relative;
                    }

                    .custom-menu-toggle {
                        width: 44px;
                        height: 44px;
                        display: block;
                        position: absolute;
                        top: 3px;
                        right: 0;
                        display: none;
                    }

                    .custom-menu-toggle .bar {
                        background-color: white;
                        display: block;
                        width: 20px;
                        height: 2px;
                        border-radius: 100px;
                        position: absolute;
                        top: 22px;
                        right: 12px;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        transition: all 0.5s;
                    }

                    .custom-menu-toggle .bar:first-child {
                        -webkit-transform: translateY(-6px);
                        -moz-transform: translateY(-6px);
                        -ms-transform: translateY(-6px);
                        transform: translateY(-6px);
                    }

                    .custom-menu-toggle.x .bar {
                        -webkit-transform: rotate(45deg);
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }

                    .custom-menu-toggle.x .bar:first-child {
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }

                    .custom-menu-screen {

                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -ms-transition: all 0.5s;
                        transition: all 0.5s;
                        height: 3em;
                        width: 70em;
                        position: absolute;
                        top: 0;
                        z-index: -1;
                    }

                    .custom-menu-tucked .custom-menu-screen {
                        -webkit-transform: translateY(-44px);
                        -moz-transform: translateY(-44px);
                        -ms-transform: translateY(-44px);
                        transform: translateY(-44px);
                    }

                    @media (max-width: 62em) {

                        .custom-menu {
                            display: block;
                        }

                        .custom-menu-toggle {
                            display: block;
                            display: none\9;
                        }

                        .custom-menu-bottom {
                            position: absolute;
                            width: 100%;
                            border-top: 1px solid #eee;
                            background-color: #808080\9;
                            z-index: 100;
                        }

                        .custom-menu-bottom .pure-menu-link {
                            opacity: 1;
                            -webkit-transform: translateX(0);
                            -moz-transform: translateX(0);
                            -ms-transform: translateX(0);
                            transform: translateX(0);
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -ms-transition: all 0.5s;
                            transition: all 0.5s;
                        }

                        .custom-menu-bottom.custom-menu-tucked .pure-menu-link {
                            -webkit-transform: translateX(-140px);
                            -moz-transform: translateX(-140px);
                            -ms-transform: translateX(-140px);
                            transform: translateX(-140px);
                            opacity: 0;
                            opacity: 1\9;
                        }

                        .pure-menu-horizontal.custom-menu-tucked {
                            z-index: -1;
                    /*        top: 47px;*/
                            position: absolute;
                            overflow: hidden;
                        }

                    }







/* SPLASH STYLES
 */
.splash-container {
  z-index: 1;
  overflow: hidden;
/* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 75%;
  top: 0;
  left: 0;
  position: fixed !important;
  background: #676777 url(../img/VinyardSummerMerlot.jpg) no-repeat center;
  background-size: cover;
}

.splash {
/* absolute center .splash within .splash-container */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: lowercase;
  width: 50%;
  height: 60%;
  margin: 20% auto;
}

.logo-splash {
  width: 220px;
  height: 220px;
}

.o {
  font-size: 70%;
  font-weight: 700;
  line-height: 110%;
  position: relative;
  top: -4px;
  border-bottom: 2px solid #fff;
}

.splash-head {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  line-height: 1em;
}

.splash-subhead {
  font-size: 20px;
  color: #fff;
  letter-spacing: .05em;
  opacity: 1;
}

/* These styles are required for the "scroll-over" effect */
.content-wrapper {
  position: absolute;
  top: 70%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #fff;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: #fff;
}

.content-subhead {
  color: #34495e;
}

.content-subhead i {
  margin-right: 7px;
}

.splash-subhead,.splash-head,.content-head {
  font-family: 'Bitter',serif;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #a12032;
/*    color: #aaa;*/
  color: #e9e4e4;
}

/********************
 Slides
*******************/
/*Slides*/
/*
.slides {
  width: 100%;
  height: 100%;
  margin: 0 auto 40px;
}
.slide {
  width: 100%;
  height: 100%;
}
.slide h2 {
  margin: 25% 0 20px;
  color: #fff;
}
.slide p {
  width: 60%;
  margin: 0 20% 40px;
  font-size: 26px;
  color: #fff;
}
.slide .button {
  color: #fff;
  border-color: #fff;
  opacity: .6;
}
.slide .button:hover {
  opacity: 1;
}
.slide img {

}
*/
.blue {
  background: #3E89BE;
}
.orange {
  background: #F8835A;
}
.green {
  background: #5ECE7F;
}
.yellow {
  background: #FFD365;
}

/* slides Grid*/
.grid-full {
  width: 100%;
  float: left;
}
.grid-half {
  width: 50%;
  float: left;
}
.grid-third {
  width: 27.33333%;
  margin: 0 3%;
  float: left;
}
.grid-fourth {
  width: 25%;
  float: left;
}
.grid-fifth {
  width: 20%;
  float: left;
}


/********************
 Footer
*******************/




.footer {
  background: #111;
  color: #a9a9a9;
  min-height: 225px;
}

.footer h1,.footer h2,.footer h3,.footer h4,.footer h5,.footer h6,.footer label {
  color: #a12032;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  word-spacing: 1em;
  display: inline;
}

.footer a:link,.footer a:visited {
  color: #bed2df;
  text-decoration: none;
}

.footer a:hover,.footer a:focus {
  background: none;
  border: none;
  color: #61b0e4;
}

/*love*/
.footer h {
  color: #dc143c;
}


/********************
 MEDIA QUERIES
*******************/


@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }

  /* We can align the menu header to the left, but float the
      menu items to the right. */
  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }

  .splash {
    width: 80%;
    height: 60%;
    margin: 10% auto;
  }

  .splash-head {
    font-size: 250%;
  }
}

@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    max-width: 1100px;
  }
}